h1 {
    background: navajowhite;
    color: blueviolet;
}

h2 {
    background: navajowhite;
    color: blueviolet;
}

p {
    background: navajowhite;
    color: blueviolet;
}

ul {
    background: navajowhite;
    color: blueviolet;
}
li {
    background: navajowhite;
    color: blueviolet;
}

img {
    width: 300px;
}